.header{
    height:70px;
    width:100%;
    background-color:lightseagreen;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-h1{
    margin:0;
}

.list{
    height: 500px;
    width: 100%;
    background-color: blueviolet;
}
body{
    margin: 0;
}
